# Libraries
*.lvlibp
*.llb
/BookHarbor Frontend/node_modules
/BookHarbor Backend/node_modules

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/