# Libraries
*.lvlibp
*.llb

# Ignore all folders named "example" regardless of their location in the directory structure
**/node_modules/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/